body {
    /* Layout */  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;

    /* Styling */
    background-color: dimgrey;
}

#calculator {
    /* Layout */
    display: flex;
    flex-direction: column;
    width: 400px;
    min-width: 200px;
    box-sizing: border-box;
    padding: 2px;

    /* Styling */
    background-color: rgb(39, 39, 39);
    border-radius: 12px;
    border: 3px solid rgb(207, 206, 206);

}

#display {
    /* Layout */
    text-align: right;
    padding: 15px;

    /* Styling */
    color: rgb(207, 206, 206);
    font-size: 80px;
}

/* Div containing all the buttons */
#keypad {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;

    /* Styling */
}

.row {
    /* Layout */
    display: flex;
    flex-wrap: nowrap;
    gap: 1px;
    justify-content:space-around;
    width: 100%;

    /* Styling */
}

button {
    /* Layout */
    box-sizing: border-box;
    /* width: 80px; */
    flex: 1 1 25%;
    

    /* Styling */
    font-size: 50px;
    text-align: center;
}

.number.zero {
    flex: 2 1 50%;
}

#clear {
    flex: 1 1 75%;
}